
<!DOCTYPE HTML>
<html>
<head>
     <title>政府债产品_政府债收益率_政府债投资_排行榜 - 中投在线</title>
    <meta content="政府债，政府债产品，政府债收益率，政府债投资" name="keywords">
    <meta content="中投在线政府债产品大全为您提供最新最热门的政府债产品排名、政府债产品收益率，并指导投资者进行政府债产品的购买，旨在为在投资者精选最新的高收益率政府债产品。" name="description">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="../css/base.css" />
  <meta name="format-detection" content="telephone=no"/>
    <script type="text/javascript" src="./js/js-cookie.js"></script>
<script type="text/javascript" src="./js/require.js" data-main="./js/main.js"></script>
<script type="text/javascript" src="./js/jquery.js"></script>
<script type="text/javascript" src="./js/book.js"></script>
</head>
<body>
<!--公共头部-->
<div class="t-mn">
  <div class="wrapper clearfix">
    <p class="fl t-mn-tnav"><a href="/about/brand.html" class="no-ml" target="_blank">关于我们</a><em>|</em><a href="/about/platform.html" target="_blank">产品及服务</a><em>|</em><a class="on" href="/zhuanti/20160112club/" target="_blank">中投俱乐部</a></p>
    <div class="fr f14 relative ldright">
              <!--登陆前-->
        <div class="head-login fl">
          <p class="fl">您好，请<a href="/user/login.html" class="landing">登录</a><em>|</em></p>
          <p class="fl"><a href="/user/register.html" class="mt2 cold7">免费注册</a><em>|</em></p>
          <a href="javascript:void(0)" class="abtxt">关注我们</a>
        </div>
            <img src="./images/wx.png"  style="width:112px;height:112px;" class="abtwo absolute" />
      <!--登陆后END--></div>
  </div>
</div>
<!--滚动导航-->

<div class="n-nav slideUp disnone">
  <div class="wrapper"> <img src="./images/scroll-logo.png" class="fl mt5">
    <ul class="n-nav-lst f16 tac fl">
      <li class="fl relative"><a href="/trust/" class="col333">信托</a></li>
      <li class="fl"><a href="/ziguan/" class="col333">资管</a></li>
      <li class="fl"><a href="/zhengfuzhai/" class="col333">政府债</a></li>
      <li class="fl"><a href="/ssgsrz/" class="col333 nnav-label">定期理财</a></li>
      <li class="fl"><a href="/simu/" class="col333">阳光私募</a></li>
      <li class="fl"><a href="/vcpe/" class="nnav-label col333">私募股权</a></li>
      
    </ul>
    <div class="fr clearfix">
      <p class="n-nav-nbr f16 col9d fl relative"> <i class="n-nav-icon1 absolute"></i>40000-91888</p>
    </div>
  </div>
</div>

<!--logo部分-->

  <div class="bgfff">
    <div class="head wrapper relative clearfix"><a class="fl" href="/"><img src="./images/logo.png?version=1.14" width="320" height="60" class="logo"></a>
      <div class="head-sch fl">
        <div class="head-sch-mn f14 mb5">
          <input name="" type="text" placeholder="请输入搜索关键字" class="head-sch-ipt" maxlength="30" value="">
          <div class="head-sshints absolute disnone">
            <p></p>
          </div>
          <input name="" type="button" class="head-btn colfff" value="搜索">
        </div>
        <span>
        <a target="_blank" href="/ssgsrz/product-2435.html"
           class="col999 mr20 f12">长春宝成棚改项目</a>
                <a target="_blank" href="/zhengfuzhai/product-2491.html"
           class="col999 mr20 f12">漯河华鼎定向融资</a>
        </span>
          </div>
      <div class="h-tel fr"><i></i>
        <p class="f32 col9d">40000-91888</p>
      </div>
    </div>
  </div>



  
    

<div class="h-menu">
  <div class="wrapper">
    <span class="fl f18">
      <a href="/" >首页</a>
      <a href="/trust/" >信托</a>
      <a href="/ziguan/" >资管</a>
      <a href="/zhengfuzhai/" class="relative current">政府债<img src="./images/hot.png" class="npic" /></a>
      <a href="/ssgsrz/"  class="relative ">定期理财</a>
      <a href="/simu/" >阳光私募</a>
      <a href="/vcpe/" >私募股权</a>
      
    </span>
    <p class="fr"><a href="/zhibo/" target="_blank">视频解说</a><em class="colfff">|</em><a href="/news/" target="_blank">财经文库</a></p>
  </div>
</div>

     <link rel="stylesheet" type="text/css" href="../css/xt.css" />

<div class="container">
    <!--banner-->

 
<div class="xuntuo-bnr relative slideBox1">
    <ul class="bnr-lst">
                    <li style="background:url(/upload/articles/20171122/1511315644257093.jpg) center top no-repeat;"><a href="https://www.touzi.com/zhuanti/171117trbj/" target="_blank"></a></li>
                        <li style="background:url(/upload/articles/20171122/1511311922819146.jpg) center top no-repeat;"><a href="https://www.touzi.com/zhuanti/171019gzqf/" target="_blank"></a></li>
                </ul>
    <div class="bnr-btn tac absolute clearfix">
        <div class="clear"></div>
        <div class="bnr-nbr">
            <p class="tac n-expand">
                                    <i class="on"></i>
                                        <i class=""></i>
                                </p>
        </div>
    </div>
</div>


<!--main-->
<div class="zfz-ys">
  <div class="wrapper">
    <ul class="clearfix">
      <li class="clearfix">
        <i class="aqxg"></i>
        <p class="fl"><span>安全性高</span>政府发行，是国家信用的体现</p>
      </li>
      <li class="clearfix">
        <i class="sywd"></i>
        <p class="fl"><span>收益稳定</span>政府还本付息，收益稳定</p>
      </li>
      <li class="clearfix">
        <i class="ltxq"></i>
        <p class="fl"><span>流通性强</span>政府债券市场属性好，竞争力强</p>
      </li>
      <li class="clearfix p0">
        <i class="msdy"></i>
        <p class="fl"><span>免税待遇</span>国家规定，收益享免税待遇</p>
      </li>
    </ul>
  </div>
</div>
<!--精选信托-->
    <div class="wrapper">
        <div class="sgt-lst relative clear">
            <div class="smgq-tt clearfix"> <span class="col333 f20 smgq-tt-name">精选政府债</span> </div>
            <ul class="clearfix">
                                    <li class="no-bright">
                        <h4 class="f24 relative suggest-tt clearfix">
<!--                            --><!--                                <p class="f14 earnings-bg">现金红包</p>-->
<!--                            --><!--                                <p class="f14 earnings-bg">--><!--起</p>-->
<!--                            --><!--                                <p class="none-red"></p>-->
<!--                            -->                                                            <p class="f14 earnings-bg">现金红包</p>
                                                        <span class="textOver"><a target="_blank" title="铜仁市纬源投资定融" class="col333" href="/zhengfuzhai/product-2423.html">铜仁市纬源投资定融</a></span> </h4>
                        <div class="suggest-mnc">
                            <div>
                                <p class="suggest-nbr f48 col9d tac"> 10.00<em class="f24">%</em>+0.3<em class="f24">%</em></p>
                                <p class="f14 col9c tac">预期年化收益率</p>
                            </div>
                            <div class="tar suggest-keyword f14 tac"><span class="mr22">基础设施</span><span>12+12月</span> </div>
                            <div class="clear"></div>
                        </div>
                        <a href="/zhengfuzhai/product-2423.html" target="_blank" class="suggest-yy tac">查看详情</a>
                    </li>
                                    <li class="no-bright">
                        <h4 class="f24 relative suggest-tt clearfix">
<!--                            --><!--                                <p class="f14 earnings-bg">现金红包</p>-->
<!--                            --><!--                                <p class="f14 earnings-bg">--><!--起</p>-->
<!--                            --><!--                                <p class="none-red"></p>-->
<!--                            -->                                                            <p class="f14 earnings-bg">现金红包</p>
                                                        <span class="textOver"><a target="_blank" title="多伦城投定融" class="col333" href="/zhengfuzhai/product-2436.html">多伦城投定融</a></span> </h4>
                        <div class="suggest-mnc">
                            <div>
                                <p class="suggest-nbr f48 col9d tac"> 10.30<em class="f24">%</em>+0.5<em class="f24">%</em></p>
                                <p class="f14 col9c tac">预期年化收益率</p>
                            </div>
                            <div class="tar suggest-keyword f14 tac"><span class="mr22">基础设施</span><span>24月</span> </div>
                            <div class="clear"></div>
                        </div>
                        <a href="/zhengfuzhai/product-2436.html" target="_blank" class="suggest-yy tac">查看详情</a>
                    </li>
                                    <li class="no-bright">
                        <h4 class="f24 relative suggest-tt clearfix">
<!--                            --><!--                                <p class="f14 earnings-bg">现金红包</p>-->
<!--                            --><!--                                <p class="f14 earnings-bg">--><!--起</p>-->
<!--                            --><!--                                <p class="none-red"></p>-->
<!--                            -->                                                            <p class="f14 earnings-bg">现金红包</p>
                                                        <span class="textOver"><a target="_blank" title="漯河华鼎定向融资" class="col333" href="/zhengfuzhai/product-2491.html">漯河华鼎定向融资</a></span> </h4>
                        <div class="suggest-mnc">
                            <div>
                                <p class="suggest-nbr f48 col9d tac"> 10.20<em class="f24">%</em></p>
                                <p class="f14 col9c tac">预期年化收益率</p>
                            </div>
                            <div class="tar suggest-keyword f14 tac"><span class="mr22">基础设施</span><span>6+6月</span> </div>
                            <div class="clear"></div>
                        </div>
                        <a href="/zhengfuzhai/product-2491.html" target="_blank" class="suggest-yy tac">查看详情</a>
                    </li>
                                    <li class="no-bright">
                        <h4 class="f24 relative suggest-tt clearfix">
<!--                            --><!--                                <p class="f14 earnings-bg">现金红包</p>-->
<!--                            --><!--                                <p class="f14 earnings-bg">--><!--起</p>-->
<!--                            --><!--                                <p class="none-red"></p>-->
<!--                            -->                                                            <p class="f14 earnings-bg">现金红包</p>
                                                        <span class="textOver"><a target="_blank" title="保山基建定向融资" class="col333" href="/zhengfuzhai/product-2479.html">保山基建定向融资</a></span> </h4>
                        <div class="suggest-mnc">
                            <div>
                                <p class="suggest-nbr f48 col9d tac"> 9.80<em class="f24">%</em></p>
                                <p class="f14 col9c tac">预期年化收益率</p>
                            </div>
                            <div class="tar suggest-keyword f14 tac"><span class="mr22">基础设施</span><span>6+6月</span> </div>
                            <div class="clear"></div>
                        </div>
                        <a href="/zhengfuzhai/product-2479.html" target="_blank" class="suggest-yy tac">查看详情</a>
                    </li>
                            </ul>
        </div>
    </div>
<!--信托产品列表-->
<a name="anchor"></a>
<div class="wrapper mb45">
    <div class="bgfff mt45">
        <div class="xint-protab tac">
            <a class="on" href="/zhengfuzhai/productlist.html?#anchor">政府债产品</a>
            <a href="/zhengfuzhai/companylist.html?#anchor">发行机构</a>
            <form method="get" action="/zhengfuzhai/productlist.html?#anchor">
                <div class="xint-ss-k fr relative clearfix">
                    <input class="xint-key-ss" type="text" name="keyword" value="" placeholder="请输入关键词"/>
                    <button class="xint-ss-btn absolute"></button>
                </div>
            </form>
        </div>
<div class="clearfix">
  <div class="xintuo-cdt mt20">
    <div class="pro-type clearfix">
      <h3 class="cdtit fl f14 col333 tar">募集状态：</h3>
      <ul class="fl clearfix on-lst">
             <li class="flt-li"><a class="on" href="/zhengfuzhai/productlist-0-pt3-ss0.html#anchor" rel="nofollow">不限</a></li>
                  <li><a  href="/zhengfuzhai/productlist-0-pt3-ss1.html#anchor" rel="nofollow">在售</a></li>
                  <li><a  href="/zhengfuzhai/productlist-0-pt3-ss2.html#anchor" rel="nofollow">预售</a></li>
                  <li><a  href="/zhengfuzhai/productlist-0-pt3-ss3.html#anchor" rel="nofollow">售罄</a></li>
      </ul>
    </div>
    <div class="pro-type clearfix">
      <h3 class="cdtit fl f14 col333 tar">预期年化收益率：</h3>
      <ul class="fl clearfix on-lst">
         <li class="flt-li"><a class="on" href="/zhengfuzhai/productlist-0-pt3-rs0.html#anchor" rel="nofollow">不限</a></li>
                  <li><a  href="/zhengfuzhai/productlist-0-pt3-rs1.html#anchor" rel="nofollow">8%以内（含）</a></li>
                  <li><a  href="/zhengfuzhai/productlist-0-pt3-rs2.html#anchor" rel="nofollow">8%~9%（含）</a></li>
                  <li><a  href="/zhengfuzhai/productlist-0-pt3-rs3.html#anchor" rel="nofollow">9%~10%（含）</a></li>
                  <li><a  href="/zhengfuzhai/productlist-0-pt3-rs4.html#anchor" rel="nofollow">10%以上</a></li>
      </ul>
    </div>
    <div class="pro-type clearfix">
      <h3 class="cdtit fl f14 col333 tar">投资期限：</h3>
      <ul class="fl clearfix on-lst">
        <li class="flt-li"><a class="on" href="/zhengfuzhai/productlist-0-pt3-te0.html#anchor" rel="nofollow">不限</a></li>
                  <li><a  href="/zhengfuzhai/productlist-0-pt3-te1.html#anchor" rel="nofollow">1年以内（含）</a></li>
                  <li><a  href="/zhengfuzhai/productlist-0-pt3-te2.html#anchor" rel="nofollow">1~2年（含）</a></li>
                  <li><a  href="/zhengfuzhai/productlist-0-pt3-te3.html#anchor" rel="nofollow">2年以上</a></li>
      </ul>
    </div>
    <div class="pro-type clearfix">
      <h3 class="cdtit fl f14 col333 tar">起投金额：</h3>
      <ul class="fl clearfix on-lst">
        <li class="flt-li"><a class="on" href="/zhengfuzhai/productlist-0-pt3-ps0.html#anchor" rel="nofollow">不限</a></li>
                 <li><a  href="/zhengfuzhai/productlist-0-pt3-ps1.html#anchor" rel="nofollow">50万以内（含）</a></li>
                 <li><a  href="/zhengfuzhai/productlist-0-pt3-ps2.html#anchor" rel="nofollow">50~100万（含）</a></li>
                 <li><a  href="/zhengfuzhai/productlist-0-pt3-ps3.html#anchor" rel="nofollow">100~300万（含）</a></li>
                 <li><a  href="/zhengfuzhai/productlist-0-pt3-ps4.html#anchor" rel="nofollow">300万以上</a></li>
      </ul>
    </div>
    <div class="pro-type clearfix">
      <h3 class="cdtit fl f14 col333 tar">投资方向：</h3>
           <ul class="fl clearfix on-lst">
                  <li class="flt-li"><a class="on" href="/zhengfuzhai/productlist-0-pt3-uf0.html#anchor" rel="nofollow">不限</a></li>
                            
                            <li><a  href="/zhengfuzhai/productlist-0-pt3-uf1.html#anchor" rel="nofollow">房地产</a></li>
                            <li><a  href="/zhengfuzhai/productlist-0-pt3-uf2.html#anchor" rel="nofollow">金融市场</a></li>
                            <li><a  href="/zhengfuzhai/productlist-0-pt3-uf3.html#anchor" rel="nofollow">基础设施</a></li>
                            <li><a  href="/zhengfuzhai/productlist-0-pt3-uf4.html#anchor" rel="nofollow">工商企业</a></li>
                             
                              
                           
                           
                           
                           <li><a  href="/zhengfuzhai/productlist-0-pt3-uf5.html#anchor" rel="nofollow">其他</a></li>
                </ul>
    </div>
    <div class="pro-type clearfix">
      <h3 class="cdtit fl f14 col333 tar">付息方式：</h3>
      <ul class="fl clearfix on-lst">
        <li class="flt-li"><a  href="/zhengfuzhai/productlist-0-pt0.html#anchor" rel="nofollow">不限</a></li>
                      <li><a class="on" href="/zhengfuzhai/productlist-0-pt3.html#anchor" rel="nofollow">按月付息</a></li>
                      <li><a  href="/zhengfuzhai/productlist-0-pt4.html#anchor" rel="nofollow">按季付息</a></li>
                      <li><a  href="/zhengfuzhai/productlist-0-pt2.html#anchor" rel="nofollow">半年付息</a></li>
                      <li><a  href="/zhengfuzhai/productlist-0-pt1.html#anchor" rel="nofollow">按年付息</a></li>
                      <li><a  href="/zhengfuzhai/productlist-0-pt5.html#anchor" rel="nofollow">到期付息</a></li>
      </ul>
    </div>
    <div class="pro-type clearfix">
      <h3 class="cdtit fl f14 col333 tar">项目所在地：</h3>
      <ul class="fl clearfix on-lst">
          <li class="flt-li "><a class="on" href="/zhengfuzhai/productlist-0-pt3-lo0.html#anchor" rel="nofollow">不限</a></li>
          <li><a  href="/zhengfuzhai/productlist-0-pt3-lo5.html#anchor" rel="nofollow">云贵川</a></li>
              <li><a  href="/zhengfuzhai/productlist-0-pt3-lo1.html#anchor" rel="nofollow">京津冀</a></li>
               <li><a  href="/zhengfuzhai/productlist-0-pt3-lo2.html#anchor" rel="nofollow">江浙沪</a></li>
               <li><a  href="/zhengfuzhai/productlist-0-pt3-lo3.html#anchor" rel="nofollow">珠三角</a></li>
               <li><a  href="/zhengfuzhai/productlist-0-pt3-lo4.html#anchor" rel="nofollow">其他</a></li>
      </ul>
    </div>
    <div class="line"></div>
    <div class="condition clearfix">
      <h3 class="cdtit fl f14 col333 tar">筛选条件：</h3>
        <div class="condi fl">
                                                                        <a href="/zhengfuzhai/productlist-0-pt0.html#anchor" class="condt1 relative " rel="nofollow">按月付息<i class="absolute"></i></a>
                                                                            <a href="/zhengfuzhai/productlist.html?#anchor" class="cl-con fl relative f14" rel="nofollow">清空条件<i class="absolute"></i></a>
        </div>
      <div class="f14 col555 fr mt5">共<span class="colredd">1</span>只产品符合条件<span class="ml20"><em class="colredd">1</em>/1</span></div>
    </div>
  </div>
</div>
</div>
<!--表格-->
 <div class="wrapper mt15 bgfff">
  <table class="xintuoprd-tb" cellpadding="0" cellspacing="0">
    <tr class="tal bgf7f8">
      <th width="60" class="bh">编号</th>
      <th width="185">产品名称</th>
      <th width="95">募集状态</th>
      <th width="140">
                                <a href="/zhengfuzhai/productlist-0-pt3-sp21.html#anchor" class='desc'>
                   <p class="xt-taborder relative">预期年化收益率<i class="absolute xt-tableicon4"></i></a></th>
      <th width="95">投资期限</th>
      <th width="95">
                              <a href="/zhengfuzhai/productlist-0-pt3-sp31.html#anchor" class='desc'>
                           <p class="xt-taborder relative">起投金额<i class="absolute xt-tableicon4"></i></p></a></th>
      <th width="95">投资方向</th>
      <th width="95">付息方式</th>
      <th width="170">发行机构</th>
      <th width="95">红包优惠</th>
      <th width="94" class="cz">操作</th>
    </tr>

                    <tr>
                <td class="bh">01</td>
                <td><a class="xt-prname textOver" href="/zhengfuzhai/product-1533.html" target="_blank">贵州兴达兴私募债</a></td>
                <td>售罄</td>
                <td class="colredd">10.00%                                </td>
                <td>12/18月</td>
                <td>20万</td>
                <td>基础设施</td>
                <td>按月付息</td>
                <td><a href="/zhengfuzhai/company-180.html" class="textOver w95" target="_blank">齐鲁股交中心</a></td>
                <td class="colredd">--</td>
                
                <td><a class="go-ck" href="/zhengfuzhai/product-1533.html" target="_blank">查看</a></td>
            </tr>
          </table>
        <div class="xttab-page tac f14 clearfix">
  </div>
</div>
</div>

</div>
 

<div class="pop-by disnone appoiment-by"></div>
<div class="pop-box pop-dysucc slideLeft public-open disnone appoiment-box">
  <div class="pop-close absolute n-scaling close-icon  appoiment-close"></div>
  <h3 class="tac f22 col333">提交成功</h3>
  <div class="popdysucc-icon"></div>
  <p class="tac f14">您的信息提交成功！<br/>我们的专业理财经理会尽快联系您！</p>
  <div class="pop-close auto radius5 pop-close-btn tac f14 col333 appoiment-close">关闭</div>
</div>
<div class="r-spnav slideRight disnone">
     <p><i class="rico3"></i><em>回顶部</em></p>
</div>
<!--foot-->
<div class="foot">
  <div class="wrapper">
    <div class="fnav cole7">
      <div class="fttxt fl">
        <dl>
          <dt><a href="/about/brand.html" target="_blank">关于我们</a></dt>
          <dd>
            <a href="/about/brand.html" target="_blank">公司介绍</a>
            <a href="/about/news.html" target="_blank">公司动态</a>
            <a href="/about/system.html" target="_blank">风控体系</a>
            <a href="/about/address.html" target="_blank">联系我们</a>
          </dd>
        </dl>
        <dl class="pdlr">
          <dt><a href="/trust/">产品及服务</a></dt>
          <dd><a href="/trust/">信托资管</a><a href="/simu/">阳光私募</a><a href="/vcpe/">私募股权</a></dd>
        </dl>
        <dl>
          <dt><a href="/news/" target="_blank">新闻资讯</a></dt>
          <dd><a href="/news/list-t1-classId-76-cid-21.html" target="_blank">中投研究院</a><a href="/news/list-t1-classId-21-cid-22.html" target="_blank">理财学院</a><a href="/zixun/" target="_blank">中投百科</a></dd>
        </dl>
      </div>
      <div class="fl ftel"><span><img src="./images/foot-logo.png" /></span><em class="f12">中投在线客服服务热线</em>
        <p class="f36">40000-91888</p>
        <em class="colf2">24小时专属服务</em></div>
      <div class="fr erwm"><span class="mr48"><img src="./images/wx.png" style="width:112px;height:112px;"/><em>微信公众号</em></span><span><img src="./images/pc.png"  style="width:112px;height:112px;"/><em>手机客户端</em></span></div>
    </div>
        <div class="cpright cole7">
      <p class="fl">中投在线 © 版权所有    Copyright 2017 touzi.com , All Rights Reserved<br />
        沪ICP备13017629号  沪公网安备 31011002001486号<em>|</em>投资有风险，购买需谨慎</p>
      <span class="fr"><img src="./images/fpic3.jpg" /><img src="./images/fpic4.jpg" /><img src="./images/fpic5.jpg" /></span></div>
  </div>
</div>


<!--END-->
<div class="pop-by disnone"></div>
<div class="pop-box pop-loading slideLeft public-open disnone">
  <div class="pop-close absolute close-icon"></div>
  <h3 class="tac f22 col333">提醒</h3>
  <div class="loading-icon"></div>
  <p class="tac f14 col9c">尚未实名认证<br />
    请先进行实名认证，保障账户和数据安全!
  </p>
  <a href="/user/userInfo.html" class="loding-btn">立即认证</a>
</div>
<script type="text/javascript">
      $(document).ready(function(){
          $(".check-verification").click(function(oEventData){
              var currentUrl = $(oEventData.currentTarget).attr('data-target');
              var verification = 0;
              if(verification !=3){
                  $('.pop-loading').show();
                  $('.pop-by').show();
              }else{
                  window.location.href = currentUrl;
              }
          });
      });

  </script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MG2HJG"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MG2HJG');</script>
<!-- End Google Tag Manager -->
<!-- 百度统计 、百度自动推送-->
<script>
//    var _hmt = _hmt || [];
//    (function() {
//        var hm = document.createElement("script");
//        hm.src = "//hm.baidu.com/hm.js?39b5ed0bf4174a1437be8378251e78d0";
//        var s = document.getElementsByTagName("script")[0];
//        s.parentNode.insertBefore(hm, s);
//    })();
</script>

<!-- 百度统计 、百度自动推送结束 -->
</body>
</html>






















