<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>公牛赠品核销问卷调查</title>
  <link rel="stylesheet" type="text/css" href="__WALL_CSS__/main.css">
</head>

<body>
  <div class="container page-main">
    <img src="__WALL_IMG__/home_bg.jpg" alt="终端推广活动 赠品统计" class="bg" />
    <a href="{:url('Index/question')}" class="btn btn-big">开 始</a>
    <img src="__WALL_IMG__/gn_note.png" alt="公牛数码配件" class="note" />
  </div>
  <script type="text/javascript" src="__WALL_JS__/jquery.min.js"></script>
  <script type="text/javascript" src="__WALL_JS__/rem.js"></script>
  <script type="text/javascript" src="__WALL_JS__/pace.min.js"></script>
</body>
</html>