<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
    <link rel="stylesheet" href="__HOME_CSS__/user.css" />
    <link rel="stylesheet" href="__HOME_CSS__/base.css" />
    <script type="text/javascript" src="__HOME_JS__/require.js"></script>
    <script type="text/javascript" src="__HOME_JS__/main-user.js"></script>
    <meta name="format-detection" content="telephone=no" />
</head>

<body>
    <div class="ld-head bgfff">
        <div class="wrapper"><span class="lg-trun"><a href="/"><img style="width: 58px" src="__HOME_IMG__/tw5o.png"/></a><em
                    class="cole9 f20">|</em><em><a href="javascript:;" class="f24 col333">欢迎登录</a></em></span></div>
    </div>
    <div class="bgf2">
        <div class="ld-user">
            <div class="wrapper"><span class="fl"><img src="__HOME_IMG__/loading-l.jpg"/></span>
                <div class="fr lg-ipt bgfff relative">
                    <span class="ct-open" style="display: none;">账户名或密码错误。如果24小时内同一手机号连续输错5次密码，将锁定该账户。您已输错
<label class="failed_time">1</label>次。你可以选择找回登录密码。</span>
                    <h3 class="f40 col000 tac">登录</h3>
                    <form class="rs-data" id="login_form">
                        <span>
      <input type="text" placeholder="请输入真实有效的手机号码" name="phone" class="rs-ipt" id="phone"/>
      <div class="error-pr phone-text disnone"><p class="f12 cold7">手机号码错误，请填写11位手机号！</p></div>
      </span><span>
      <input type="password" placeholder="请输入密码" class="rs-ipt" name="password" id="password"/>
      <div class="error-pr password-text disnone"><p class="f12 cold7">密码格式有误，请重新输入！</p></div>
      </span>
                        <div class="clearfix pb10"></div>
                        <input type="hidden" name="tokenKey" value="AP6gqFzZxXkctO2M" />
                        <input type="hidden" name="tokenValue" value="rYoLfL5NCPygGmel" />
                        <a href="javascript:void(0);" class="agreed-to mb15 login">登录</a>
                        <p class="f12 col888"><em>
                        <a href="{:url('Member/modifyPwdFirst')}" class="mr50 col888">忘记密码？</a>没有账户？<a href="{:url('Member/register')}" class="col9d zcbtn">立即注册</a></em>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="user-foot">
            <div class="wrapper">
                <div class="cp-nav fl">
                    <p>
                        <a href="/about/brand.html">中投品牌</a><em>|</em>
                        <a href="/about/value.html">竞争优势</a><em>|</em>
                        <a href="/about/evaluate.html?flag=1">公司动态</a><em>|</em>
                        <a href="/about/address.html">联系我们</a>
                    </p>
                    <span>浦定投资 © 版权所有    Copyright 2017 puding.com , All Rights Reserved<br/>
      沪ICP备xxxx号<em>|</em>投资有风险，购买需谨慎</span></div>
                <div class="ur-tel fl"><em>在线客服服务热线</em>
                    <p class="f36 mt7 mb8">40000-xxxx</p>
                    <em>24小时专属服务</em></div>
                
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--Footer-->
</body>

</html>